{% extends "layouts/base.html" %}
{% load bootstrap_tags %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success account-confirmed-message">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-4">
            <h2>Login</h2>

                {% if next %}
                    <form method="post" action="?next={{ next }}" role="form">
                {% else %}
                    <form method="post" action="{% url 'auth_login' %}" role="form">
                {% endif %}
                {% csrf_token %}

                     {{ form|as_bootstrap }}
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>

            </div><!-- end span -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-sm-5">
                <br /><br />
                <p>Forgot your password?<br /> No problem, we can help you <a href="{% url 'auth_password_reset' %}">create a new one.</a></p>
            </div>
        </div>
</div><!-- end container -->
{% endblock content %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('input[type=text]:first').focus();
});
</script>
{% endblock scripts %}
