{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}Interestingness{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{% static 'css/normalize.css' %}" media="screen, print" rel="stylesheet">
    <link href="{% static 'css/skeleton.css' %}" media="screen, print" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" media="screen, print" rel="stylesheet">
  {% block styles %}{% endblock styles %}


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

</head>
<body>

  <!-- Content
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% block content %}{% endblock content %}

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
{% block scripts %}{% endblock scripts %}
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>