{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}Interestingness{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% comment %} TODO: we don't use all these fonts. cleanup. {% endcomment %}
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block styles %}
    <link href="{% static 'css/normalize.css' %}" media="screen, print" rel="stylesheet">
    <link href="{% static 'css/skeleton.css' %}" media="screen, print" rel="stylesheet">
    
  {% endblock styles %}

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}" />
  {% endcompress %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="{% static 'img/favicon.png' %}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% block content %}{% endblock content %}
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    {% block scripts %}{% endblock scripts %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
</body>
</html>