{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Add item{% endblock title %}

{% block content %}

<div class="tray">
  <div class="container">
	<div class="row">
    </div>
    
  <div class="row tray-row-correction">
	  <form method="post" action="" id="submit-item">
    <div class="two columns">
        <div class="crop-mug">
			<img src="{{bookmarklet_key.profile_pic}}" class="rounded"/>
		</div>
		{% comment %}<div class="text-background shadow">
			<label>
		  		<input type="checkbox"><span class="label-body">ANONYMIZE</span>
		  	</label>
	  	</div>{% endcomment %}
      </div>
    <div class="eight columns">
      <label for="exampleMessage"></label>
	  <input type="text" class="u-full-width shadow" placeholder="So this was kinda interesting…" name="description" id="description" maxlength="117">
	  <p class="source shadow tray-source"><a href="http://www.getskeleton.com">www.getskeleton.com</a></p>
	</div>
    <div class="two columns">
	  <input class="button-primary shadow" type="submit" value="Interesting">
	  <div id="signal-success" style="display:none;">SUCCESS!</div>
    </div>
    </form>    
  </div>
  </div>

{% endblock content %}
{% block scripts %}
<script type="text/javascript">
	var CSRF_TOKEN = "{{ csrf_token }}"
	description='{{description}}',
	link='{{link}}',
	bookmarklet_key='{{bookmarklet_key}}';
</script>
<script>
$( document ).ready(function() {
var short_link = document.createElement('a');

//  set href to any path
short_link.setAttribute('href', link);
$('.tray-source a').attr('href', short_link.hostname).text(short_link.hostname);

//  cleanup for garbage collection
short_link = null;
  
  $( "#submit-item" ).submit(function( event ) {
  var description = $('#description').val();
  	$.post('/add-item-service/', {description: description, bookmarklet_key: bookmarklet_key, csrfmiddlewaretoken: CSRF_TOKEN, description: description, link: link}).done(function(data) {
		$("#signal-success").fadeIn();
  	setTimeout('parent.postMessage("loadMyOrders","*")', 750);
		}).fail(function(data) {
    		$("#signal-failure").fadeIn();
    		});
  	//parent.postMessage("loadMyOrders","*");
  	return false;
});

});
</script>
{% endblock scripts %}