{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}So sorry | Signal Back{% endblock title %}

{% block content %}

    <div class="container bookmarklet-install">
        <h1>So sorry</h1>
        <div class="row">
            <div class="col-md-8">
          <p>Your Signal Back bookmarklet either doesn't exist or has been deactivated.</p>
          <p class="bookmarklet-denied"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></p>
        </div>
    </div><!-- /.container -->


{% endblock content %}
