{% extends "layouts/base.html" %}
{% load static from staticfiles %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h1>{{organization}} Dashboard</h1>
      <a href="{% url 'dashboard_generate_key' %}" role="button" class="btn btn-primary btn-xs"> Send invite</a>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="five columns">
      <p>{{ items }} Items</p>
    </div>
    <div class="five columns">
      <p>{{ contributors_count }} Contributors</p>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="twelve columns">
      <h2>Contributors</h2>
    </div>
  </div> <!-- row -->
  
{% for contributor in contributors %}
  <div class="row">   
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="bookmarklet_key_id" value="{{contributor.key}}">

    <div class="six columns">
      {{ contributor.email }}
      {% if not contributor.is_active %}
        deactivated
        <button type="submit" class="button">reactivate</button>
      {% else %}
        <button type="submit" class="button">deactivate</button>
      {% endif %}
    </div>

    <div class="three columns">
      <p>{{contributor.items}} items</p>
    </div>

    <div class="three columns">
      <p>
        {% if contributor.last_contribution %}last active {{contributor.last_contribution|date:'N j, Y'}}{% else %}no contributions{% endif %}
      </p>
    </div>
  </div> <!-- row -->
{% endfor %}
</div> <!-- container -->
{% endblock content %}