{% extends "layouts/base.html" %}
{% load static bootstrap_tags %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Dashboard | Signal back{% endblock title %}

{% block content %}

    <div class="container">
        <h1>{{organization}} Dashboard <small class="dashboard-invite-new"><a href="{% url 'dashboard_generate_key' %}" role="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Send invite</a></small></h1>
        <div class="row dashboard-row">
            <div class="col-sm-3">
                <p class="count-number">{{ items }}</p>
                <p class="count-label">Items</p>
            </div>
            <div class="col-sm-3">
                <p class="count-number">{{ contributors_count }}</p>
                <p class="count-label">Contributors</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 contributors-list">
                <h2>Contributors</h2>
                {% for contributor in contributors %}
                <form action="" method="POST">
	                {% csrf_token %}
	                <input type="hidden" name="bookmarklet_key_id" value="{{contributor.key}}">
                <div class="listed-contributor row">
                    <div class="listed-contributor-email col-sm-6">{{ contributor.email }}{% if not contributor.is_active %}<small class="text-danger">deactivated</small><button type="submit" class="btn btn-success btn-xs">reactivate</button>{% else %}<button type="submit" class="btn btn-deactivate btn-xs">deactivate</button>{% endif %}</div>
                    <div class="listed-contributor-items col-sm-3">{{contributor.items}}<span>items</span></div>
                    <div class="col-sm-3 listed-contributor-active">{% if contributor.last_contribution %}last active {{contributor.last_contribution|date:'N j, Y'}}{% else %}no contributions{% endif %}</div>
                </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div><!-- /.container -->


{% endblock content %}