/***** our vars *****/

$heading_font : 'Montserrat', sans-serif;
$body_font : 'Lato', sans-serif;

$background_gray : #fdfdfc;
$light-cyan : #eaf5fc;
$cyan : #54ace8;
$red : #ef524b;
$pink : #f49deb;
$dark_gray : #94a5ca;
$green : #58c361;

/***** /our vars *****/


/* ########################## */
/* # Collaborator page        */
/* ########################## */

.collaborator {

	max-width: 500px;

	img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		display: block;
    	margin: auto;
		cursor: pointer;
	}

	label.upload-label {
		width: 100%;
	}

	label.upload-label input[type="file"] {
	    position: fixed;
	    top: -1000px;
	}

	.upload-pic-button {
		border-radius: 2px;
		display: block;
		width: 100%;
		margin: 55px auto 0 auto;
		padding: 5px 13px;
		border: 1px solid #54ace8;;
		cursor: pointer;
    	font-weight: 400;
    	text-align: center;
	}

	input {
		margin: 10px 0;
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 2px;
		padding: 5px 13px;
	}

	input[type="submit"] {
		border: 1px solid #54ace8;
		background-color: #fff;
		border-radius: 2px;
	}

	.field-label {
		float: right;
	}

	.pic-status, .name-status {
		display: none;
		color: #54ace8;
		text-align: center;
    	font-size: 15px;
	}

	.name-email-row, picture-row {
		margin-top: 50px;
	}

	.picture-row {
		margin-top: 50px;
	}

	.title {
		text-align: center;
		margin-top: 20px;
		font-size: 37px;
		color: #555;
	}

	.intro-text {
		text-align: center;
		font-size: 14px;
	}

	.bookmarklet-install-button {
		display: none;
		margin-top: 50px;
	}
}

/* ########################## */
/* # / Collaborator page      */
/* ########################## */


/* ########################## */
/* # tray                     */
/* ########################## */

.tray {
background-color:#fff;
background-image: radial-gradient($light-cyan 21%, transparent 26%),
radial-gradient($light-cyan 21%, transparent 26%);
background-size:30px 30px;
background-position: 0 0, 15px 15px;
}

.tray #signal-success {
	margin-left:0px;
	font-size:1.5rem;
	padding:7px 0px 4px 0px;
	color:$green;
	font-weight:bold;
	text-align:center;
	text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

/* ########################## */
/* # / tray                   */
/* ########################## */


.items-page, .tray {
	.post-padding {
		margin-bottom:20px;
	}

	.crop-mug {
	    width: 65px;
	    height: 65px;
	    position: relative;
	    overflow: hidden;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	    -o-border-radius: 50%;
	    border-radius: 50%;
	}
	img {
	    display: inline;
	    margin: 0 auto;
	    height: 100%;
	    width: auto;
	}

	h4 {
		font-size: 1.9rem; 
		line-height: 1.4;  
		letter-spacing: 0;
		font-style: italic;
		margin-top:-5px;
	}

	p.source, p.source a {
		margin-top:-15px;
		font-size: 1.2rem; 
		color: black;
		/*/border:1px dashed #ccc;/*/
		opacity:50%;
		text-decoration:none;	
	}

	p.tray-source {
		padding:4px 0px 4px 10px;
		background-color: #fff;
	}

	textarea, 
	#description,
	.button.button-primary, 
	button.button-primary, 
	input[type="submit"].button-primary, 
	input[type="reset"].button-primary, 
	input[type="button"].button-primary  {
		border-color:white;
		border-radius: 0px;	
		color: #000;
  		background-color: #fff;
	}

	textarea, #description {
		font-size: 1.9rem; 
		line-height: 1.4;  
		letter-spacing: 0;
		font-style: italic;
		font-weight: 300;
		min-height: 35px;
		margin-top:0px;
	}

	input[type="submit"].button-primary {	
		font-family: 'Open Sans Condensed';
		font-size:12px;
		margin-bottom:0px;
	}

	.shadow {
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		-ms-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		-o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	}

	.text-background {
		background-color:#fff;
		padding:0px 4px 4px 6px;
		width: 76px;
		height: 24px;
		margin:5px 0px 0px -11px;
		font-family: 'Open Sans Condensed';
	}

	input {
		margin-top:5px;
	}

	.label-body {
	  display: inline-block;
	  font-weight: normal; 
	  font-size: 11px; 
	 }
	 
	.posted-by {
		font-size: 1.2rem; 
		font-weight:bold;
		padding-left:5px;
		font-family: 'Open Sans Condensed';
		text-transform: uppercase;
	}
	 
	.tray {
		 /*/background-image: url(images/polka-dot-red.gif); /*/
		 background-image: url('../images/polka-dot.png');
		 margin-bottom:20px; 
	}

	.tray-row-correction {
		margin-bottom: -15px;
	}

	.column-adjustment {
		margin-left:20px;
	}
	h1{
		/*/background: linear-gradient(180deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;/*/
		 background-color: #33C3F0;
		 color:white;
		font-weight: bold;
		padding:3px 30px 4px 14px;
		text-align: left;
		font-family: 'Open Sans Condensed'
	}

	.skew {
		-webkit-transform: skew(-20deg);
		   -moz-transform: skew(-20deg);
		   -ms-transform: skew(-20deg);
		   	-o-transform: skew(-20deg);
		   		transform: skew(-20deg);

	}

	::-webkit-input-placeholder {
		font-size: 1.9rem; 
		line-height: 1.4;  
		letter-spacing: 0;
		font-style: italic;
		color: #b3b3b3;
		font-weight: 300;
		

	}
	:-moz-placeholder { /* older Firefox*/
		font-size: 1.9rem; 
		line-height: 1.4;  
		letter-spacing: 0;
		font-style: italic;
		color: #ccc;
		font-weight: 300;

	}
	::-moz-placeholder { /* Firefox 19+ */ 
		font-size: 1.9rem; 
		line-height: 1.4;  
		letter-spacing: 0;
		font-style: italic;
		color: #ccc;
		font-weight: 300;

	} 
	:-ms-input-placeholder { 
		font-size: 1.9rem; 
		line-height: 1.4;  
		letter-spacing: 0;
		font-style: italic;
		color: #ccc;
		font-weight: 300;
	}
}